@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-londrina: "Londrina Solid", sans-serif;
}
