@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-londrina: "Londrina Solid", sans-serif;

  --animate-pop-in: pop-in 0.4s ease-out forwards;
  @keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(12px) scale(0.95);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  --animate-fade-in: fade-in 0.4s ease-out forwards;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-highlight-light: highlight-light 1s ease-out forwards;
  @keyframes highlight-light {
    0% {
      background-color: white;
    }
    50% {
      background-color: #e2e8f0;
    }
    100% {
      background-color: white;
    }
  }

  --animate-highlight-dark: highlight-dark 1s ease-out forwards;
  @keyframes highlight-dark {
    0% {
      background-color: #1d293d;
    }
    50% {
      background-color: #314158;
    }
    100% {
      background-color: #1d293d;
    }
  }
}
