@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-londrina: "Londrina Solid", sans-serif;

  --animate-pop-in: pop-in 0.4s ease-out;
  @keyframes pop-in {
    0% {
      opacity: 1;
      transform: translateY(12px) scale(0.95);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  --animate-fade-in: fade-in 0.4s ease-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-highlight-light: highlight-light 1s ease-out;
  @keyframes highlight-light {
    0% {
      background-color: white;
    }
    50% {
      background-color: #e2e8f0;
    }
    100% {
      background-color: white;
    }
  }

  --animate-highlight-dark: highlight-dark 1s ease-out;
  @keyframes highlight-dark {
    0% {
      background-color: #1d293d;
    }
    50% {
      background-color: #314158;
    }
    100% {
      background-color: #1d293d;
    }
  }
}

aside.EmojiPickerReact {
  --epr-emoji-size: 30px;
  --epr-emoji-padding: 5px;
  --epr-bg-color: var(--color-white);
  --epr-text-color: var(--color-slate-700);
  --epr-picker-border-color: var(--color-slate-200);
  --epr-picker-border-radius: 8px 8px 0 0;
  --epr-horizontal-padding: 10px;
  --epr-highlight-color: var(--color-purple-500);
  --epr-hover-bg-color: var(--color-slate-100);
  --epr-focus-bg-color: var(--color-slate-100);
  --epr-search-input-bg-color: var(--color-slate-100);
  --epr-search-input-bg-color-active: var(--epr-search-input-bg-color);
  --epr-search-input-text-color: var(--color-slate-900);
  --epr-search-input-placeholder-color: var(--color-slate-800);
  --epr-search-border-color: var(--epr-search-input-bg-color);
  --epr-search-border-color-active: var(--epr-highlight-color);
  --epr-search-input-border-radius: calc(infinity * 1px);
  --epr-search-input-height: 40px;
  --epr-search-icon-color: var(--color-slate-800);
  --epr-category-navigation-button-size: 30px;
  --epr-category-icon-active-color: var(--color-white);
  --epr-category-label-bg-color: color-mix(
    in srgb,
    var(--color-white) 90%,
    transparent
  );
  --epr-category-label-text-color: var(--epr-text-color);
  --epr-category-label-height: 40px;
  --epr-preview-height: 70px;
  --epr-preview-text-size: 14px;
  --epr-preview-text-color: var(--epr-text-color);
  --epr-skin-tone-picker-menu-color: color-mix(
    in srgb,
    var(--color-white) 58%,
    transparent
  );
  --epr-skin-tone-size: 20px;

  &:where(.dark, .dark *) {
    --epr-bg-color: var(--color-slate-800);
    --epr-text-color: var(--color-slate-200);
    --epr-picker-border-color: var(--color-slate-700);
    --epr-hover-bg-color: var(--color-slate-700);
    --epr-focus-bg-color: var(--color-slate-700);
    --epr-search-input-bg-color: var(--color-slate-700);
    --epr-search-input-text-color: var(--color-slate-100);
    --epr-search-input-placeholder-color: var(--color-slate-300);
    --epr-search-icon-color: var(--color-slate-300);
    --epr-highlight-color: var(--color-purple-400);
    --epr-category-icon-active-color: var(--color-slate-800);
    --epr-category-label-bg-color: color-mix(
      in srgb,
      var(--color-slate-800) 90%,
      transparent
    );
    --epr-skin-tone-picker-menu-color: color-mix(
      in srgb,
      var(--color-slate-700) 58%,
      transparent
    );
  }
}
