services:
  postgres: # PostgreSQL db for main application data
    image: postgres
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    ports:
      - 6001:5432
    environment:
      POSTGRES_PASSWORD: mysecretpassword
  redis: # Redis for GraphQL subscriptions
    image: redis
    ports:
      - 6379:6379
    command: ["redis-server", "--appendonly", "yes"]
