name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Generate GraphQL server types
        run: npm run generate:server
      - name: Run test database
        run: docker compose -f server/docker-compose.yml up -d
      - name: Run server tests and coverage
        run: npm run test:server:coverage
        env:
          NODE_ENV: test
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
      - name: Generate GraphQL ui types
        run: npm run generate:ui
      - name: Run ui tests and coverage
        run: npm run test:ui:coverage
        env:
          CI: true
      - name: Run e2e tests
        run: npm run test:e2e
        env:
          CI: true
          PORT: ${{ secrets.PORT }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          VITE_SERVER_URL: ${{ secrets.VITE_SERVER_URL }}
          VITE_WS_URL: ${{ secrets.VITE_WS_URL }}
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  deploy:
    needs: [deployment_pipeline]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: Trigger server deployment
        if: ${{ github.event_name == 'push' && contains(join(github.event.commits.*.message, ', '), '#skip') == false }}
        run: curl ${{ secrets.RENDER_SERVICE_URL }}
      - name: Trigger ui deployment
        if: ${{ github.event_name == 'push' && contains(join(github.event.commits.*.message, ', '), '#skip') == false }}
        run: curl -X POST -d '{}' ${{ secrets.NETLIFY_SERVICE_URL }}
